@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fdffd6;
  background: linear-gradient(
    135deg,
    rgba(253, 255, 214, 1) 0%,
    rgba(94, 209, 255, 1) 5%,
    rgba(48, 172, 255, 1) 67%,
    rgba(48, 127, 255, 1) 99%
  );
  background-repeat: no-repeat;
  height: 100vh;
}

.img-nav {
  width: 25px;
}
